.group {
	position: relative;
	margin-bottom: 20px;
	margin-top: 5px;
}
.textbox {
	font-size: 15px;
	padding: 10px 10px 5px 5px;
	display: block;
	width: 250px;
	border: none;
	border-bottom: 1px solid #757575;
	
}
.textbox:focus {
	outline: none;
}
.group label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
}
.textbox:focus ~ label,
.textbox:valid ~ label {
	top: -10px;
	font-size: 14px;
	color: #999;
}
.bar {
	position: relative;
	display: block;
	width: 265px;
}
.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #3ac182;
	transition: 0.2s ease all;
}
.bar:before {
	left: 50%;
}
.bar:after {
	right: 50%;
}
.textbox:focus ~ .bar:before,
.textbox:focus ~ .bar:after {
	width: 50%;
}
.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
.textbox:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
	from {
		background: #3ac182;
	}
	to {
		width: 0;
		background: transparent;
	}
}
textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #3ac182;
  box-shadow: 1px 1px 1px #3ac182;
  width: 400px;
  height: 120px;
  white-space: pre-line;
}
label {
  display: block;
  margin-bottom: 10px;
  color: #999;
}
.Nextbutton{
  background-color: lightgrey;
  margin-top:10px;
  cursor:pointer;
  border:none;
  height:30px ;
  width:80px ;
}